
.err {
  color: red;
  margin-top: 5px;
}
.wrapper {

  background: var(--color-stone-200);

  
  .main_info {

    h1 {
      margin-bottom: 20px;
    }

    padding-top: 16px;

    margin-top: 10px;
    background: var(--color-white);

  }

  .main_info .specialist {

    position: relative;

    display: flex;
    gap: 20px;

    .avatar { 

      border-radius: 8px;
      overflow: hidden;
      width: 56px;
      height: 56px;

      img {

        width: 100%;
        height: 100%;
        object-fit: cover;

      }

    }

    .info {

      display: flex;
      flex-direction: column;
      gap: 8px;

      p:first-child {
        font-size: 18px !important;
      }
      p:last-child {
        color: var(--color-stone-400);
      }

    }

  }

  .edit {

    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    padding-right: 0;
    padding-top: 0;

  }

  .sub_title {

    font-size: 20px !important;
    font-weight: 400 !important;
    margin-bottom: 16px;

  }
  

  .price {

    display: flex;
    flex-direction: column;

    position: relative;

    .price_item, .total {
      
      display: flex;
      justify-content: space-between;
  
    }

    .price_item {

      margin-bottom: 16px;

      span:last-child {
        color: #6C6C6C !important;
      }
      
    }

    .total {
      span:first-child {
        color: var(--color-stone-400);
      }

      span:last-child {
        color: var( --color-blue);
      }
    }


    

  }

  .time {

    position: relative;
    padding-bottom: 15px;

    .info {

      gap: 32px;
      align-items: center;

    }

    span {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--color-stone-400);
    }

  }

  .form {

    margin-top: 10px;
    background: var(--color-white) !important;

    padding-top: 16px;
    padding-bottom: 200px;

    .form_title {

      display: inline-block;
      margin-top: 16px;
      margin-bottom: 4px;
      position: relative;
      font-family: var(--font-sf_pro_text);
      font-weight: 400;
      font-size: 14px;

    }

    .form_title.required::after {

      content: '*';
      color: var(--color-red);

      right: -10px;
      position: absolute;

    }

    input {

      width: 100%;
      background: none;
      box-shadow: 0 0px 2px 0 rgba(77, 64, 85, 0.417);
      border-radius: 4px;
      padding: 15px 16px;
      border: none;

      font-family: var(--font-sf_pro_text);
      font-weight: 400;

    }

  }

  .checkbox {

    display: flex;
    gap: 12px;
    align-items: center;

    margin-top: 16px;

    .mark {

      min-width: 20px;
      height: 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid var(--color-blue);
      border-radius: 4px;
      

    }

    .mark.active { background: var(--color-blue) }

    p {
      font-size: 14px;
      font-weight: 500;
      
    }

    p a {
      color: var(--color-blue) !important;
    }

  }

}

.border_bottom {

  border-bottom: 1px solid var(--color-stone-300);
  padding-bottom: 20px;
  margin-bottom: 20px;

}