.check_box.active {
  background: var(--color-blue);
}

.check_box {

  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;

  border: 1px solid var(--color-blue);
  border-radius: 2px;

  border-radius: 50%;


}