.controls {

  display: flex;
  gap: 14px;

  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 10000 !important;

  
  background: var(--color-white);
  
  box-shadow: 0 -2px 23px 0 rgba(0, 0, 0, 0.1);
  padding: 16px 20px 32px 20px;

}