.flex { display: flex; }
.flex-col { flex-direction: column; }

.gap-20 { gap: 20px;}
.gap-10 { gap: 10px;}

.pt-10 { padding-top: 10px; }
.pt-25 { padding-top: 25px; }

.mr-5 { margin-right: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }

.all-center { justify-content: center; align-items: center; }
.items-center { align-items: center; }
