.h1 {

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  font-family: var(--font-roboto);
  color: var(--color-grey);

}

.h2 {

  font-weight: 500;
  font-size: 24px;
  color: var(--color-grey);

}

.h3 {

  font-weight: 400;
  font-size: 16px;
  color: var(--color-stone-400);

}

.p {

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);

}