:root {

  --color-blue: #0fa3e2;
  --color-grey: #333;
  --color-black: #000;
  --color-white: #fff;

  --color-stone-400: #a8a8a8;
  --color-stone-300: #e8e8e8;
  --color-stone-200: #f4f4f4;

  --color-red: #FF647C;

}