
.content {

}

.tabs_wrapper {

  display: flex;
  overflow: auto;

  scrollbar-width: thin;

}

.disable_item {
  opacity: .3;
  cursor: not-allowed;
  pointer-events: none;
}

.top_section {

  position: sticky;
  top: 0px;
  padding: 16px 0;

  background: var(--color-white) !important;
  z-index: 10;

}

.input_wrapper {

  display: flex;
  gap: 8px;

  height: 50px;
  background: var(--color-stone-200);
  border-radius: 8px;
  align-items: center;
  padding: 0 16px;

  .input {

    background: none;
    border: none;
    width: 100%;
    height: fit-content;

  }

  .icon {
    margin-top: 5px;
  }

}

.tabs {

    display: flex;
    gap: 12px;
    flex-wrap: nowrap;


  .tab {

    background: var(--color-blue);
    margin-top: 16px;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 30px;

    color: var(--color-white) !important;

  }

}


.list {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  .item {

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    margin-bottom: 20px;
    
    &:not(:last-child) {

      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 20px;
      
    }

    .name {
      font-size: 18px;
    }


  }

  .item .item_characteristics {

    display: flex;
    align-items: center;
    gap: 21px;


    p {

      color: var(--color-stone-400);

      gap: 8px;

      display: flex;
      align-items: center;

    }
  }

}

