.title {

  font-weight: 500;
  margin-left: 39px;

  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 26px;

}
.list {

  list-style: none;
  padding: 0;
  margin-top: 20px;
  padding: 0 15px;



  .link {

    background: var(--color-stone-200);
    padding: 16px 16px 16px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;


  }

  .icon {

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background: var(--color-stone-300);
    border-radius: 50%;

  }

}